<div class="">
  <div class="aboutBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="aboutContainer col-md-8 col-md-offset-2">
      <div class="aboutBox">
        <!-- <h2 style="text-align:center">About</h2> -->
        <h1>what is</h1>
        <h1><strong>challengemaker</strong>?</h1>
        <br>
        <ul class="aboutList">
          <li><strong>challengemaker</strong> is a platform for friends to inspire fundraising through video challenges.</li>
          <li>Grow the campaign by submitting a video of yourself taking the challenge.</li>
          <li>Watch your impact go viral as you challenge your friends and share with your community.</li>
        </ul>

        <button class="" type="button" name="button">FIND CHALLENGES</button>

      </div>
    </div>
  </div>

</div>
