<div class="">
  <div class="aboutBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="aboutContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="aboutBox">
        <h1>About Us</h1>
        <br>
        <div class="aboutList">
          <p class="aboutColor1">challengemaker</p>
          <p class="aboutCopy">a platform for friends to inspire fundraising through<br> video challenges</p>
          <br>
          <p class="aboutColor2">grow the campaign</p>
          <p class="aboutCopy">submit a video of yourself taking the challenge</p>
          <br>
          <p class="aboutColor3">watch your impact</p>
          <p class="aboutCopy">go viral as you challenge your friends and share with<br> your community</p>
          <br>
        </div>

        <button class="aboutButton btn" type="button" name="button">FIND CHALLENGES</button>
        <br>
      </div>
    </div>
  </div>

</div>
