<div class="challengeContainer beenContainer" ng-click="challenges.toggleBeen()">
  <div class="row">
    <div class="challengeHolder col-xs-12">
      <div class="challengeInfo">
        <div class="challengeTitle">
          <h1 class="challengeCharity">{{challenges.beenChallengedData.charity[0]}}</h1>
        </div>
        <div class="challengeDescription">
          <h1 class='challengedTitle'>{{challenges.beenChallengedData.title}}</h1>
          <h1 class="challengedDesc">{{challenges.beenChallengedData.description}}</h2>
          <h3>You've Been Challenged By: {{challenges.challengerName}}</h3>
        </div>
        <button class="acceptButton acceptBeen"></button>
      </div>
      <div class="blackLayerBeen"></div>
      <div class="challengePhoto">
        <img class="challImg" src="{{challenges.beenChallengedData.photo}}" alt="" />
      </div>
    </div>
  </div>
</div>
