<div class="challengeContainer beenContainer" ng-click="challenges.toggleBeen()">
  <div class="row">
    <div class="challengeHolder col-xs-12">
                <div class="blackLayerBeen"></div>
        <div class="challengePhoto">
          <img class="challImg" src="{{challenges.beenChallengedData.photo}}" alt="" />
        </div>
        <div class="challengeInfo">
          <div class="challengeTitle">
            <h1 class="challengeCharity">{{challenges.beenChallengedData.charity[0]}}</h1>
          </div>
          <div class="challengeDescription">
            <h1 class='challengedTitle'>{{challenges.beenChallengedData.title}}</h1>
            <h1 class="challengedDesc">{{challenges.beenChallengedData.description}}</h2>
          </div>
          <button class="acceptButton acceptBeen">Accept Challenge</button>
        <!-- <div class="detailsButton">details</div>
      </div> -->
      <!-- <div class="moneyBox">
        <div class="raised">
          <h2>${{challenges.beenChallengedData.totalRaised}} raised</h2>
        </div>
        <div class="goal">
          <h2>${{challenges.beenChallengedData.goal}} Goal</h2>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
