<div class="challengeContainer">
  <div class="challengeHolder">
    <div class="challengeTitle">
      <h1>Our Titile Here</h1>
    </div>
    <div class="challengeDescription">
      <h2>Our description will go here</h2> 
    </div>
    <div class="acceptButton"></div>
    <div class="detailsButton"></div>
    <div class="moneyBox">
      <div class="raised">
        <h2>$Cash money made</h2>
      </div>
      <div class="goal">
        <h2>$Our Goal</h2>
      </div>
    </div>
  </div>
</div>
