<div class="">
  <div class="contactBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="contactContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="contactBox">
        <h1>CONTACT US</h1>

          <form role="form">
            <div class="form-group">
              <input type="email" class="form-control formEmail" placeholder="email">
            </div>
            <br>
            <div class="form-group">
              <input type="text" class="form-control formSubject" placeholder="subject">
            </div>
            <br>
            <div class="form-group">
              <textarea class="form-control formMessage" rows="10" cols="30" placeholder="message" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-default pull-right formSubmit">SEND</button>
          </form>
      </div>
    </div>
  </div>
</div>
