<div class="">
  <div class="contactBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="contactContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="contactBox">
        <h1>Contact Us</h1>

        <div class="contactForm">
          <input class="formEmail" type="email" placeholder="email">
          <input class="formSubject" type="text" placeholder="subject">
          <textarea class="formMessage contactMessage contactFormText" type="text" rows="10" cols="30" placeholder="your message" required></textarea>
          <!-- <textarea class="formMessage contactMessage" rows="10" cols="30" placeholder="your message" required></textarea> -->
          <!--CANT GET INPUT AND TEXTAREA TO WORK TOGETHER  -->
          <br>
          <br>
          <input class="formSubmit" type="button" name="name" value="Send">
        </div>

      </div>
    </div>
  </div>

</div>
