
<div class="container contactContainer col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
  <h1>CONTACT US</h1>
  <form role="form">

    <div class="form-group">
      <input type="email" class="form-control" placeholder="email">
    </div>

    <br>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="subject">
    </div>

    <br>

    <div class="form-group">
      <textarea class="form-control" rows="10" cols="30" placeholder="message" required></textarea>
      <!-- <input type="text" class="form-control" placeholder="message"> -->
    </div>

    <br>

    <button type="submit" class="btn btn-default pull-right">SEND</button>

  </form>
</div>
