<div class="infoBarContainer">
  <div class="infoBarText">
    <p>
      Video Fundraising Challenges
    </p>
  </div>
</div>
<div class="hContainer" >
  <div class="blackLayer" >
    <!-- <span class="glyphicon glyphicon-play-circle playButtonH"></span> -->
  </div>
  <div class="hMediaHolder" >
    <div class="highlightText" >
      <div class="texttext">
        <div class="highlightTextHolder"  style="cursor: pointer">
          <p class="titleCont titleContCharity">{{challenges.specialChallenge.charity[0]}}</p>
          <p class="titleCont titleContTitle">{{challenges.specialChallenge.title}}</p>
          <p class="titleCont titleContTitle">CHALLENGE</p>
            <div class="playButtonH">
              <img ng-click="challenges.swapSpecial()" src="/assets/play_button.svg" alt=""/>
            </div>
          <h4 style="color: white" class="hRemoveDescription">$0 if completed<br> or donate ${{challenges.specialChallenge.minimumDonation}}<br> to {{challenges.specialChallenge.charity[0]}}</h4>
          <button type="button" class="acceptButton acceptButtonHome" ng-click="challenges.seeChallenge(challenges.specialChallenge.title)" id="{{challenges.specialChallenge.title.split(' ').join('-')}}"></button>
          <!-- <div class="detailsButton" id="{{challenges.specialChallenge._id}}" ng-mouseEnter="challenges.showDetails(challenges.specialChallenge._id)" ng-mouseLeave="challenges.removeDetails(challenges.specialChallenge._id)
          ">details</div> -->
        </div>
      </div>
      <div class="texttext col-xs-4" >
      </div>
    </div>
    <div class="hImage">
      <img class = "hImageImg" src="{{challenges.specialChallenge.photo}}" alt="" />
    </div>
    <div class="hVideo" >
    </div>
  </div>
</div>

<!-- Repeat images from here down -->
<div class="homeRepeat">
  <div class="blackLayerListAll">

  </div>
  <div ng-repeat="challenge in challenges.allChallenges" class="listContainer listContainer{{$index}} col-md-6 col-12-xs">
    <div style="margin: 0px" class="row">
      <div class="lMediaHolder">
        <div class="listText row listText{{$index}}">
            <div class="texttext">
              <div style="cursor: pointer" class="listTextHolder">
                <h2 style="color: white" style="cursor: pointer" class="listContent listRemove{{$index}} listTextContent{{$index}}">{{challenge.charity[0]}}</h2>
                <h2 style="color: white" style="cursor: pointer" class="listContent listTitle listTextContent{{$index}}">{{challenge.title}}</h2>
                <div class="playButtonL playButtonL{{$index}}">
                  <img class="playButtonL{{$index}}" ng-click="challenges.swap($index)" src="/assets/play_button.svg" alt=""/>
                </div>
                <p class="listSectionRemove listRemove{{$index}} listTextContent{{$index}}">$0 if completed<br> or donate ${{challenge.minimumDonation}}<br> to {{challenge.charity[0]}}</p>
                <button type="button" class="acceptButton acceptButton{{$index}}" ng-click="challenges.goTo($index)" id="{{$index}}btn"></button>
               <!-- <div class="detailsButton" id="{{}}" ng-mouseEnter="" ng-mouseLeave="">details</div> -->
              </div>
            </div>
        </div>
        <div class="lImage lImage{{$index}}" ng-if="challenge.isPhoto" ng-click="challenges.swap($index)">
          <img class="lImageImg lImageimg{{$index}}" src="{{challenge.photo}}" alt="" />
        </div>
        <div class="lVideo lVideo{{$index}}">
        </div>
      </div>
    </div>
    <!-- Lets do this again -->
  </div>
</div>
