

<div class="hContainer col-xs-12" >
  <div class="hMediaHolder" ng-click="challenges.hToggle()">
    <div class="highlightText">
      <div class=" texttext col-xs-8">
        <h1>{{challenges.specialChallenge.charity[0]}}</h1>
        <h1>{{challenges.specialChallenge.title}}</h1>
        <h3>{{challenges.specialChallenge.title}}</h3>
        <button type="button" class="acceptButton" ng-click="challenges.seeChallenge(challenges.specialChallenge.title)" id="{{challenges.specialChallenge.title}}">Accept</button>
        <button type="button" class="detailsButton">details</button>
      </div>
      <div class="texttext col-xs-4">hi there</div>
    </div>
    <div class="hImage" ng-if="challenges.highlightOn">
      <img src="{{challenges.allChallenges[0].photo}}" alt="" />
    </div>
    <div class="hVideo" ng-if="!challenges.highlightOn">
      <iframe width="100%" height="{{challenges.height}}" src="https://www.youtube.com/embed/4wvxoiNV2iA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>
<!-- Repeat images from here down -->
{{2 + 2}}
<div ng-repeat="challenge in challenges.allChallenges" class="listContainer">

  <div class="highlightContainer col-sm-6 col-12-xs"  ng-click="challenge.isClicked = !challenge.isClicked" >
    <div ng-if="!challenge.isClicked" class="listText">
      <div class="texttext col-xs-8">
		  <p class="challengeCharityText">{{challenge.charity[0]}}</p></br>
		  <p class="challengeDonationext">$0 if completed or donate $30 to {{challenge.charity[0]}}</p></br>
		  <p class="challengeAccept" ng-click="challenge.accept()">Accept</p>
		  <p class="challengeDeats" ng-clicl="challenge.details()">Details</p>
	  </div>

      <div class="texttext col-xs-4">Money stuff</div>
    </div>
    <image ng-if="!challenge.isClicked" src="{{challenge.photo}}" class="highlightImage"/>
  	<iframe ng-if="challenge.isClicked" class="highlightVideo" src="https://www.youtube.com/embed/jh-WjOL42ig" class="challengePhoto col-6"></iframe>
  </div>
</div>


</div>
