
<div class="hContainer" >
  <div class="blackLayer" ng-click="challenges.swapSpecial()">
    <span class="glyphicon glyphicon-play-circle playButtonH"></span>
  </div>
  <div class="hMediaHolder" ng-click="challenges.swapSpecial()">
    <div class="highlightText">
      <div class="texttext col-md-8 col-xs-12">
        <div class="highlightTextHolder">
          <h1 class="titleCont">{{challenges.specialChallenge.charity[0]}}</h1>
          <h1 class="titleCont">{{challenges.specialChallenge.title}}</h1>
          <p class="hRemoveDescription">$0 if completed or donate ${{challenges.specialChallenge.minimumDonation}} to {{challenges.specialChallenge.charity[0]}}</p>
          <button type="button" class="acceptButton" ng-click="challenges.seeChallenge(challenges.specialChallenge.title)" id="{{challenges.specialChallenge.title.split(' ').join('-')}}">Accept Challenge</button>
          <!-- <div class="detailsButton" id="{{challenges.specialChallenge._id}}" ng-mouseEnter="challenges.showDetails(challenges.specialChallenge._id)" ng-mouseLeave="challenges.removeDetails(challenges.specialChallenge._id)
          ">details</div> -->
        </div>
      </div>
      <div class="texttext col-xs-4">
      </div>
    </div>
    <div class="hImage">
      <img class = "hImageImg" src="{{challenges.specialChallenge.photo}}" alt="" />
    </div>
    <div class="hVideo" >
      <!-- <iframe width="100%" height="{{challenges.height}}" ng-src="{{challenge.videoUrl}}" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>
</div>

<!-- Repeat images from here down -->
<div class="homeRepeat">
  <div ng-repeat="challenge in challenges.allChallenges" class="listContainer col-md-6 col-12-xs">
    <div style="margin: 0px" class="row">
      <div class="blackLayerList" ng-click="challenges.swap($index)">
        <span class="glyphicon glyphicon-play-circle playButtonL"></span>
      </div>
      <div class="lMediaHolder" ng-click="challenges.swap($index)">
        <div class="listText listText{{$index}} row">
            <div class="texttext col-md-10 col-xs-12">
              <div class="listTextHolder">
                <h2 class="listRemove{{$index}}">{{challenge.charity[0]}}</h2>
                <h3 class="listTitle listRemove{{$index}}">{{challenge.title}}</h3>
                <p class="listSectionRemove listRemove{{$index}}">$0 if completed or donate ${{challenge.minimumDonation}} to {{challenge.charity[0]}}</p>
                <button type="button" class="acceptButton" ng-click="challenges.goTo($index)" id="{{$index}}btn">Accept Challenge</button>
               <!-- <div class="detailsButton" id="{{}}" ng-mouseEnter="" ng-mouseLeave="">details</div> -->
              </div>
            </div>
        </div>
        <div class="lImage lImage{{$index}}" ng-if="challenge.isPhoto" >
          <img class="lImageImg lImageimg{{$index}}" src="{{challenge.photo}}" alt="" />
        </div>
        <div class="lVideo lVideo{{$index}}">
        </div>
      </div>
    </div>
    <!-- Lets do this again -->
  </div>
</div>
