<!-- <div class="responseContainer row"> -->
  <div class="questionHolder">
    <div class="questionContainer">
      <div class="questionTunnel row">
        <div class="questions col-xs-3">
          <div class="q1">
            <div class="titleDescBox">
              <h3>Upload your YouTube Video (optional)</h3>
            </div>
            <div class='qContent row'>
              <div class="responseInfo col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <input ng-keypress="response.checkYoutube()"  class="responseTitle" type="text" name="name" value="Paste Your YouTube Link Here">
              </div>
            </div>
          </div>
        </div>
        <div class="questions col-xs-3" class="q2 col-xs-3">
          <div class="titleDescBox">
            <h3>Challenge Friends by Adding their Email</h3>
          </div>
          <div class="qContent">
            <input type="text" class='challengeFriends' id="email1" value="email">
            <input type="text" class='challengeFriends' id="email2" value="email">
            <input type="text" class='challengeFriends' id="email3" value="email">
            <input type="text" class='challengeFriends' id="email4" value="email">
          </div>
        </div>
        <div class="questions col-xs-3" id="q3">
          <div class="titleDescBox">
            <h3>Donate To This Charity</h3>
          </div>
          <div class="qContent row">
            <div class="signupForm col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
              <div class="row">
                <p class="col-xs-10 col-xs-offset-1">We're currently under construction, but would love for you to follow the below link to make a donation to this charity. If you'd prefer to wait, click on "back to site" now to explore more of ChallengeMaker.</p>
              </div>
              <div class="row">
                <div class="donationButtons col-xs-8 col-xs-offset-2">
                  <button class="submitDon "type="button" >Make a Donation</button>
                  <button type="button" class="backToSite">Home</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="carouselButtonHolder col-xs-12">
        <div class="row">
          <button type="button" class="caro-button btn btn-lg btn-block backButton col-xs-4 col-md-offset-3"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>LAST</button>

          <button style="height: '250px'" type="button" class="caro-button btn btn-lg btn-block forwardButton col-xs-4">NEXT<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
