<!-- 
<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input class="ohyeababy" type="submit" value="Pay $10">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js" charset="utf-8"></script>

<script type="text/javascript">
// $.ajax({
//   url: "/client_token",
//   method: "GET"
// }).done(function( response ) {
//   console.log( response )
// });
//
// // var token = $.ajax( {
// //
// // })
// // braintree.setup(
// //   ,
// //   "dropin", {
// //     container: "payment-form"
// //   });
</script> -->
