
<div class="container">
  <div class="paymentContainer col-md-6 col-md-offset-3">
    <div class="paymentBox">
      <!-- <p>
        sandbox credit card: 4111111111111111
      </p>
      <p>
        sandbox expiration date: 10/20
      </p> -->
        <h1>Complete Donation</h1>

      <h3>How Much Would You Like To Donate?</h3><br>

      <form id="checkout" http-equiv="refresh" content="0" URL="/" action="/checkout" method="post">
        <div class="paymentOptions form-group">
          <select class="amountDrop form-control" id="sell" name="amount">
            <option value='5.00'>$5.00</option>
            <option value='10.00'>$10.00</option>
            <option value='20.00' selected>$20.00</option>
            <option value='50.00'>$50.00</option>
            <option value='100.00'>$100.00</option>
          </select>
          <button class="customAmount" type="button" name="button">Enter Custom Amount</button>

          <div class="paymentCards">
            <p>we accept these cards:</p>
            <img class="img-responsive" src="/assets/creditcards1.png" alt=""/>
            <p>or click below to pay with Paypal:</p>
          </div>

        </div>
        <div id="payment-form"></div>
        <input id="submitPayment" class="paymentSubButt btn btn-default pull-right" value="GIVE" type="submit">
      </form>

    </div>
  </div>
</div>
