<div class="">
  <div class="signupBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="signupContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="signupBox">
        <div class="xBar">
          <img class="questionX" src="/assets/X.svg" alt="" />
        </div>
        <h1>Sign Up</h1>

        <div class="signupForm">
          <input class='signupName' type="text" placeholder="name">
          <input class='signupEmail' type="text" placeholder="email">
          <input class='signupPw' type="password" placeholder="password">
          <br>
          <br>
          <div class="signupFooter">
          <p>
            Already joined? <u><a class="goToLogin" style='cursor:pointer'>Sign In</a></u>
          </p>
          </div>
          <div class="row">
            <img src="/assets/NEXT.svg" class="btn-block submitNew signupForwardButton forwardButtonLightbox signinSubmit" />
          </div>
          <!-- <input class="goToLogin" type="button" name="name" value="Go To Sign In"> -->
          <!-- <input class="submitNew" type="button" name="name" value="Sign Up"> -->
        </div>
      </div>
    </div>
  </div>
</div>
