<div class="">
  <div class="paymentBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="signinContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="signinBox">
        <h1>Sign In</h1>

        <div class="signinForm">
          <input class='signInput1' type="text" placeholder="Email"><br>
          <input class='signInput2' type="password" placeholder="Password"><br>
          <input class="signinSubmit" type="button" name="name" value="Sign In">
          
          <input class="goToSignup" type="button" name="name" value="Not a Member Yet?">
        </div>

      </div>
    </div>
  </div>

</div>
