<div class="">
  <div class="signupBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="signupContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="signupBox">
        <h1>Sign Up</h1>

        <div class="signupForm">
          <input class='signupName' type="text" placeholder="name">
          <input class='signupEmail' type="text" placeholder="email">
          <input class='signupPw' type="password" placeholder="password">
          <br>
          <br>
          <input class="submitNew" type="button" name="name" value="Sign Up">
          <p>or Already a Member?</p>
          <input class="goToLogin" type="button" name="name" value="Go To Sign In">
        </div>

      </div>
    </div>
  </div>

</div>
