
<div class="row">
  <div class="signupBox col-md-6 col-md-offset-3 col-xs-10 col-sm-offset-1">
    <h1 class="signupBoxHead">Sign Up for ChallengeMaker</h1>
    <br>
    <br>

    <div class="form-group">
      <input class='signupBoxInput signupName' type="text" placeholder="name">
      <input class='signupBoxInput signupEmail' type="text" placeholder="email">
      <input class='signupBoxInput signupPw' type="password" placeholder="password">
      <input class="submitNew" type="button" name="name" value="Sign Up">
    </div>

    <div style="text-align: center" class="">
      ------ or ------
    </div>

    <input class="goToLogin" type="button" name="name" value="Go To Login">
  </div>

</div>
