<div class="">
  <div class="signinBackgroundImage">
    <img src="/assets/blurredbackground.png" alt="" />
  </div>

  <div class="container">
    <div class="signinContainer col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="signinBox">
        <div class="xBar">
          <img class="questionX" src="/assets/X.svg" alt="" />
        </div>
        <h1>Sign In</h1>

        <div class="signinForm">
          <input class='signInput1' type="text" placeholder="email">
          <input class='signInput2' type="password" placeholder="password">
          <br>
          <br>
          <div class="signinFooter">
          <p>
            Need to join? <u><a class="goToSignup" href="#">Sign Up</a></u>
          </p>
          </div>
          <div class="row">
            <img src="/assets/NEXT.svg" class="btn-block signinForwardButton forwardButtonLightbox signinSubmit" />
          </div>
          <!-- <input class="goToSignup" type="button" name="name" value="Go To Sign Up"> -->
          <!-- <input class="signinSubmit" type="button" name="name" value="Sign In"> -->
        </div>
      </div>
    </div>
  </div>
</div>
