<div class="singleuserContainer col-sm-12">
  <div class="row">
    <div class="userInfo col-sm-3">
        <br>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/2a/fd/7a/2afd7ae5e96337ee784a2422ca2c27e5.jpg" class="img-circle" alt="no photo avail" width="100" height="100">
        <div class="userInfoData">

          <div class="row">
            <div class="">
              <strong id="username">{{user.singleUser}}</strong><br>
            </div>
          </div>

          <table class="table">
            <tbody>
              <tr>
                <td id="usertotraisedval">$1700</td>
                <td id="usertotraised">raised in total</td>
              </tr>

              <tr>
                <td id="userchalcompval">3</td>
                <td id="userchalcomp">challenges completed</td>
              </tr>

              <tr>
                <td id="userpeopchalval">18</td>
                <td id="userpeopchal">people challenged</td>
              </tr>

              <tr>
                <td id="userpeopreachval">32</td>
                <td id="userpeopreach">people reached</td>
              </tr>
            </tbody>
          </table>

        </div>
    </div>

    <div class="userChallenges col-sm-5">
      <h3>User Challenges</h3>
    </div>
    <div class="topChallenges col-sm-4">
      <h3>Top Challenges</h3>
    </div>
  </div>
</div>
