<div class="singleuserContainer col-sm-12">
  <div class="row">
    <div class="userInfo col-sm-3">
      <h2>{{user.singleUser}}'s Profile</h2>
      <p>
        blah blah<br>
        asdfgjkkl;kkl;dsadasasd<br>
        blah blah<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
        asdfgjkkl;kkl;dsadasasd<br>
      </p>
    </div>
    <div class="userChallenges col-sm-5">
      <h2>User Challenges</h2>
      <p>
        blah blah blah
      </p>
    </div>
    <div class="topChallenges col-sm-4">
      <h2>Top Challenges</h2>
      pblah blah blah blah blah
    </div>
  </div>
</div>
