<h2>Single Challenge Page</h2>
<div class="challengeContainer">
  <h2>{{challenges.singleChallenge.name}}</h2>
  <div class="row topRowChallenge">
    <div class="currentChallengeHolder col-sm-7 col-xs-12">
      <div class="currentChallengeContainer">
        <div class="currentChallengeImage">
          <img src="http://i.ytimg.com/vi/yOX6JF9gABU/maxresdefault.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="currentChallengeStats col-sm-5 col-xs-12">
      <button type="button" >Complete Challenge</button><br>
      <button type="button" >Complete by Donating</button>
      <div class="impactStats row">
        <div class="myImpact col-md-6 col-xs-12">
          <h3>My Impact</h3>
          <h2>$1,750</h2><h4> raised in total</h4>
          <h3>$250</h3><h4> raised this challenge</h4>
          <h3>3</h3><h4>challenges completed</h4>
        </div>
        <div class="topFundraisers col-md-6 col-xs-12">
          <div class="topList">
            <h2>Top Fundraisers</h2>
            <div class="firstFunder">1. James Spader</div>
            <div class="secondFunder">2. Carlee O'Brian</div>
            <div class="thirdFunder">3. Tyler Smith</div>
            <div class="fourthFunder">4. Chris Timms</div>
            <div class="fifthFunder">4. Julia Roberts</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottomRowChallenges">
    <div class="challengeResponseList" ng-repeat="row in challenges.justRows">
      <div id="challenge{{$index}}" class="row">
        <div class="smallChallengeHolder col-xs-12">
          <div class="row">
            <div class="miniChallOne col-md-6 col-xs-12">
              <div class="miniTitle">
                {{row.first.title}}
                <img ng-src="{{row.first.title}}" alt="" class="responseImage"/>
              </div>

            </div>
            <div class="miniChallTwo col-md-6 col-xs-12">
              <div class="miniTitle">
                {{row.second.title}}
                <img ng-src="{{row.second.url}}" alt="" class="responseImage"/>
              </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
