<div class="challengeContainer">
  <h2>{{challenges.singleChallenge.name}}</h2>
  <div class="row topRowChallenge">
    <div class="currentChallengeHolder col-sm-7 col-xs-12">
      <div class="currentChallengeContainer">
        <div class="currentChallengeImage">
          <img ng-src="{{challenges.singleChallenge.photo}}" class="currImg" />
        </div>
        <div class="row currentChallengeInfo">
          <div class="currentInfoColumn col-xs-6">
            <p class="currentCharity">
              {{challenges.singleChallenge.charity[0]}}
            </p>
            <p class='currentTitle'>
              {{challenges.singleChallenge.title}}
            </p>
            <p class="currentDescription">
              $0 if challenge completed, or donate ${{challenges.singleChallenge.minimumDonation}} to Special Olympics
            </p>
          </div>
          <div class="row currentChallengeMoney col-xs-6">
            <!-- <h2>${{challenges.singleChallenge.totalRaised}} raised</h2>
            <h3>${{challenges.singleChallenge.goal}} goal</h3> -->
          </div>
        </div>
      </div>
    </div>
    <div class="currentChallengeStats col-sm-5 col-xs-12">
      <button type="button" class="completeChallButton comp-chal-button btn btn-lg btn-block"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Complete this Challenge!</button>
      <!-- <button type="button" class="comp-donate-button btn btn-lg btn-block"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Complete it by Donating!</button> -->

      <div class="currentSuppDiv">
        <div class="">
          <p class="currentTitle2">
            {{challenges.singleChallenge.title}}
          </p>
        </div>

        <div class="currentCharityDiv">
          <p class="currentCharityBene">
            benefitting
          </p>
        </div>

        <div class="">
          <p class="currentCharity2">
            {{challenges.singleChallenge.charity[0]}}
          </p>
        </div>
      </div>

      <div class="currentDescDiv">
        <p class="currentDescription">
          {{challenges.singleChallenge.description}}
        </p>
      </div>

    </div>
  </div>
  <div class="row bottomRowChallenges">
    <span class="acceptedVideos">Videos from people who accepted this challenge</span>
    <div class="challengeResponseList" ng-repeat="row in challenges.justRows">
      <div id="challenge{{$index}}" class="row">
        <div class="smallChallengeHolder col-xs-12">
          <div class="row">
            <div class="miniChallOne col-sm-6 col-xs-12">
              <div class="miniImageContainer">
                <div class="miniImageHolder" id="imgHolder{{$index}}a">
                  <img ng-click="challenges.loadVideo2($index)" ng-src="{{row.first.photo}}" alt="" class="responseImage" id="img{{$index}}a"/>
                </div>
              </div>
              <div class="miniChallInfo col-sm-offset-1 col-sm-8 col-xs-12 col-xs-offset-0">
                <h2>{{row.first.title}}</h2>
              </div>
            </div>
            <div class="miniChallTwo col-sm-6 col-xs-12">
              <div class="miniImageContainer">
                <div class="miniImageHolder"  id="imgHolder{{$index}}b">
                  <img ng-click="challenges.loadVideo()" ng-src="{{row.second.photo}}" alt="" class="responseImage" id="img{{$index}}b"/>
                </div>
              </div>
              <div class="miniChallInfo col-sm-offset-1 col-sm-8 col-xs-12 col-xs-offset-0">
                <h2>{{row.second.title}}</h2>
              </div>
            </div>

          </div>
         </div>
        </div>
       </div>

    </div>
  </div>
</div>
