
/*Begin pure elements*/
/*End pure elements*/

/*Begin classes*/

.acceptButton {
  background-color: white;
  color: gray;
  width: 200px;
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 0 2px;
  font-weight: bolder;
}
.acceptButton:hover {
  background-color: purple;
  opacity: .90;
}

.addUrl {
  height: 40px;
  width: 80%;
  margin: 50px 0 0 10%;
  font-size: 25px;
}

.backButton {
  height: 40px;
  width: 90px;
  font-size: 25px;
  font-style: bolder;
  color: gray;
}

.backButton:hover {
  background-color: #B8E6E6;
;
}

.bodyView {
  display: block;
  height: 100%;
  margin-top: -15px;
}

.carouselButtonHolder {
  margin: 30px 0 0 70px;
}

.challengeBy {
  margin-top: -68px;
  text-align: center;
  width: 100%;
  color: gray;
}

.challengeCharity {
  font-size: 55px;
  font-style: bolder;
  width: 360px;
}

.challengedDesc {
  width: 350px;
  font-size: 18px;
  font-style: bolder;
  margin: 0;
  margin-top: 30px;
}

.challengedTitle {
  font-size: 35px;
  margin-top: -10px;
}

.challengeHolder {
  height: 320px;
  color: white;
  background-size:  100% 320px;
  background-repeat: no-repeat;
  margin: 20px 0 40px 0;
}

.challengeInfo {
  display: inline-block;
  margin: 0 0 0 10%;
}

.challengePhoto {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.detailsButton {
  font-size: 25px;
  font-style: italic;
  display: block;
  width: 100px;
  margin-top: -10px;
}

.detailsButton:hover {
  background-color: purple;
  opacity: .8;
}

.dropdownBarContainer {
  margin: 80px 10px 0 0;
  width: 63px;
  height: 50px;
  float: right;
  background-color: purple;
}

.dropdownIcon {
  max-width: 100%;
  max-height: 100%;
}

.dropdownIcon:hover {
  opacity: .75
}

.footerContainer {
  height: 75px;
  background-color: green;
  display: block;
}

.forwardButton {
  height: 40px;
  width: 90px;
  font-size: 25px;
  font-style: bolder;
  color: gray;
}

.forwardButton:hover {
  background-color: #B8E6E6;
}

.logoContainer {
  height: 130px;
  width: 130px;
  display: inline-block;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0;
}

.moneyBox {
  display: inline-block;
  float: right;
  margin: 320px 100px 0 0;
  font-size: 30px;
}

.navBar {
  height: 100%;
  margin: 0 0 5px 0;
}

.navContainer {
  height: 100%;
  border-bottom: 3px solid gray;
  display: block;
}

.question {
  outline: 1px solid gray;
  margin: 0 0 0 30px;
  height: 100%;
}

.question input {
  margin-top: 20px;
  height: 30px;
  font-size: 20px;
  color: gray;
}

.questionContent {
  outline: 2px solid green;
  height: 180px;
  overflow: hidden;
}

.questionHolder {
  outline: 2px solid green;
  height: 330px;
  width: 340px;
  margin-left: 32%;
}

.responseContainer {
  height: 400px;
}

.responseDesc {
  height: 50px;
  width: 210px;
  margin-top: 20px;
}

.testResponseForm {
  display: block;
}

.videoLink {
  margin-left: 400px;
  opacity: 0.5;
}

.qDesc {
  opacity: 0.5;
  position: relative;
  margin-left: -400px;
}

/*End classes*/

/*Begin ids*/
/*End ids*/
