
/*Begin pure elements*/
/*End pure elements*/

/*Begin classes*/

.aboutBackgroundImage img {
  width:100%;
  height:120%;
  z-index: 2;
  position: absolute;
}

.aboutBox {
  padding: 20px 20px 20px 20px;
  background-color: #E1E1E1;
  position: absolute;
}

.aboutBox h1{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: #999999
}

.aboutBox p {
  color: #666666
}

.aboutButton {
  background-color: white;
  color: #999999;
  width: 225px;
  text-align: middle;
  display: block;
  font-size: 20px;
  margin: 0 auto;
  font-weight: bolder;
  opacity: 0.5;
}

.aboutButton:hover {
  background-color: #C31C85;
  color: white;
  opacity: .90;
}

.aboutContainer {
  margin-top: 50px;
  z-index: 10;
}

.aboutList p {
  margin: 0px 0px 10px 20px;
  text-align: left;
  font-size: 22px;
}

.acceptBeen {
  height: 38px;
  text-align: center;
}

.acceptButton {
  /*background: url("../assets/pink_accept_button.svg");*/
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: white;*/
  color: gray;
  width: 190px;
  min-height: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 10px 2px 0 2px;
  font-weight: bolder;
}

.acceptButtonList {
  /*background: url("../assets/pink_accept_button.svg");*/
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: white;*/
  color: gray;
  width: 190px;
  min-height: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 0px 2px 0 2px;
  font-weight: bolder;
}

/*.acceptButton:hover {
  background: url("../assets/pink_accept_rollover.svg");
  /*background-color: purple;*/
  /*opacity: .90;*/
}*/

.acceptedVideos {
  font-size: 18px;
}

.addUrl {
  height: 40px;
  width: 80%;
  margin: 50px 0 0 10%;
  font-size: 25px;
}

.amountDrop {
  width: 100%;
  height: 45px;
  font-size: 25px;
  color: gray
}

.backButton {
  display: inline-block;
  margin-top: 5px;
}

.backButton:hover {
  background-color: #B8E6E6;
}

.backToSite {
  font-size: 25px;
}

.beenContainer {
  min-height: 100%;
}

.blackLayer{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .15;
  z-index: 2;
  position: absolute;
}

.blackLayerBeen {
  background-color: black;
  position: absolute;
  width: 100%;
  opacity: .15;
  z-index: 2;
  /*top: 0;
  left: 0;*/
}

.blackLayerList {
  width: 100%;
  height: 98.5%;
  background-color: black;
  opacity: .15;
  z-index: 2;
  position: absolute;
}

.blackLayerListAll {
  width: 100%;
  background-color: black;
  opacity: .15;
  z-index: 2;
  position: absolute;
}

.blackLayerSingleHighlight {
  width: 100%;
  height: 460px;
  background-color: black;
  opacity: .1;
  z-index: 0;
  position: absolute;
}

.blackLayerSingleChallengeList {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .1;
  z-index: 2;
  position: absolute;
}

body {
  padding-top: 66px;
 }

.bodyView {
  width: 95%;
  min-width: 100%;
}
  /*98% eliminates the horizontal scroll issue*/

.bodyView {
  display: block;
  height: 100%;
  margin-top: -15px;
}

.bottomRowChallenges {
  margin-left: 0px;
  margin-right: 0px;
  display: block;
}

.caro-button {
  font-size: 20px;
  /*font-weight: bold;*/
  background-color: #d4d4d4;
  height:50px;
  width:110px;
  vertical-align: middle;
}

.carouselButtonHolder {
  margin: 0% 30% 0% 30%;
  display: block;
  height: 150px;
}

.challengeAccept {
	  text-align: left;
    margin-bottom: 0px;
    background-color: darkgray;
    width: 50px;
    padding: .5px;
}

.challengeBy {
  margin-top: -68px;
  text-align: center;
  width: 100%;
  color: gray;
}

.challengeCharity {
  font-size: 55px;
  font-style: bolder;
  width: 360px;
}

.challengeCharityText {
	  text-align: left;
    font-size: 20px;
}

.challengeContainer {
  width: 98%;
}

.challengeDescBox {
  margin-top: 60px;
}

.challengedDesc {
  width: 350px;
  font-size: 18px;
  font-style: bolder;
  margin: 0;
  margin-top: 30px;
}

.challengedTitle {
  font-size: 35px;
  margin-top: -10px;
}

.challengeDonationext {
	  text-align: left;
    font-size: 15px;
}

.challengeDeats {
	  text-align: left;
    margin-bottom: 0px;
}

.challengeFriends {
  height: 40px;
  width: 70%;
  margin-top: 10px;
  margin-left: 15%;
  font-size: 25px;
  text-align: center;
  font-style: bold;
  color: gray;
}

.challengeFriendsContainer {
  background-color: #E1E1E1;
  z-index: 2;
  height: 480px;
  width: 550px;
  margin-top: 50px;
  /*height: 400px;
  width: 400px;*/
}

.challengeFriendsContainer button{
  display: inline-block;
  width: 30%;
  font-size: 16px;
  /*margin-top: 50px;*/
}

.challengeFriendsDescBox {
  position: relative;
  text-align: center;
}

.challengeFriendsDescBox h1, h2, h3, h4 {
  color: #999999;
  margin: 0px;
}

.challengeFriendsDescBox h1 {
  font-weight: 300;
}

.challengeFriendsDiv {
  margin-top: 52px;
}

.challengeHolder {
  height: 320px;
  color: white;
  background-size:  100% 320px;
  background-repeat: no-repeat;
  margin:0;
}

.challengeInfo {
  display: inline-block;
  margin: 60px 0 0 5%;
  position: absolute;
  z-index: 2;
}

.challengePhoto {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.challengeSwitch {
  opacity: 0;
}

.challFrContainer {
  background-color: #D6D6EB;
  margin-top: 20px;
  font-size: 25px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  vertical-align: middle;
  padding: 15px 10px 10px 15px;
}

#checkout {
  /*position: absolute;*/
}

.clickLayerList {
  position: absolute;
  height: 100%;
  width: 63%;
  margin-left: 36%;
  z-index: 22;
}

.comp-chal-button {
  font-size: 25px;
  font-weight: bold;
  background-color: #b6b6b6;
  color: #525252;
  margin: 15px 10px 5px 0px;
  height: 60px;
  width: 100%;
  vertical-align: middle;
}

.comp-donate-button {
  font-size: 25px;
  font-weight: bold;
  background-color: #b6b6b6;
  color: #525252;
  margin: 10px 10px 5px 0px;
  height: 60px;
  width: 100%;
  vertical-align: middle;
}

.contactBackgroundImage img {
  width:100%;
  height:100%;
  z-index: 2;
  position: absolute;
}

.contactBox {
  padding: 20px 20px 20px 20px;
  background-color: #E1E1E1;
  position: absolute;
}

.contactBox h1{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: #999999;
}

.contactContainer {
  margin-top: 50px;
  z-index: 10;
}

.contactForm {
  margin: 30px 0px 30px 0px;
  height: 100%;
}

.contactFormText {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  height: 120px;
  font-size: 25px;
  text-align: center;
}

.contactForm p {
  text-align: center;
  font-size: 15px;
  margin: 15px 0px -15px 0px;
}

.contactForm input{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}

.cmsButtonRow {
  margin: 0 auto;
}

.cmsCreateNewContainer input{
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
  font-size: 20px;
  height: 35px;
}

.cmsCreateNewContainer {
  outline: 1px solid gray;
  overflow: hidden;
  height: 0px;
}

.cmsDropdown {
  padding-bottom: 15px;
}

.cmsDropdown select, option, button{
  background: transparent;
  background-color: #e9e5dc;
  font-size: 20px;
  border-radius: 2px;
  border-color: black;
  border: 3px;
  box-shadow: 2px 2px 4px #000000;
  width: 100%;
  height: 50px;
}

.cmsDropdown select:hover, button:hover {
  background-color: #d2cab8;
}

.cmsHeadline {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.currentChallengeContainer {
}

.currentChallengeHolder{
  display: inline-block;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.currentChallengeImage {
  width: 100%;
}

.currentChallengeImage img{
  max-height: 100%;
  max-width: 100%;
}

.currentChallengeInfo {
  color: white;
  position: absolute;
  margin-top: -300px;
  margin-left: 30px;
  width: 100%;
}

.currentChallengeMoney {
  color: white;
  text-align: center;
  margin-top: 150px
}

.currentChallengeStats {
  display: inline-block;
  margin:0px 0px 0px 0px;
  padding-right: 5px;
  background-color: #f1f1f1;
  min-height: 100%;
  /*padding-bottom: 0px;*/
}

.currentCharity {
  font-size: 40px;
  font-weight: bolder;
}

.currentCharity2 {
  font-size: 20px;
  color: #999999;
  text-align: center;
  font-weight: bold;
}

.currentCharityBene {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.currentCharityDiv {
  margin: 5px 0px 5px 0px;
}

.currentDescription {
  padding: 0px 0px 0px 10px;
  font-size: 20px;
  color: #666666;
}

.currentDescDiv {
  margin-top: 5px;
}

.currentSuppDiv {
  height: 100%;
  margin-top: 10px;
}

.currentTitle {
  font-size: 32px;
  font-weight: bolder;
  height: 50px;
  display: inline-block;
}

.currentTitle2 {
  font-size: 26px;
  color: #999999;
  text-align: center;
  font-weight: bold;
  height: 40px;
}

.currentTitle3 {
  margin: 5px 5px 5px 5px;
  height: 100%;
}

.currentVideo {
  min-height: 100%;
  min-width: 100%;
}

.custDonAmount {
  font-size: 20px;
  width: 250px;
  height: 50px;
  margin: 15px 0px 0px 0px;
  text-align: center;
}

.detailsButton {
  font-size: 25px;
  font-style: italic;
  display: block;
  width: 100px;
  text-align: center;
}

.detailsButton:hover {
  background-color: purple;
  opacity: .8;
}

.detailsCont {
  position: absolute;
  width: 100%;
  outline: 4px solid gray;
  background-color: #000066;
  opacity: 0.65;
}

.detailsCont h3{
  position: relative;
  background-color: "#31007A";
}

.detailsContList {
  font-size: 14px;
  width: 250px;
  position: absolute;
}

.detailsContList p{
  font-size: 20px;
  position: relative;
  background-color: "#31007A";
}

.donateHome{
  margin-left: 20%;
}

.donationButtons {
  display: block;
}

.donationButtons button{
  text-align: center;
  height: 40px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  display: block;
}

.dropdownBarContainer {
  height: 100%;
}

.donateChallengeFriends {
  margin-left: 10px;
  /*margin-top: 50px;*/
}

.dropdownContainer {
  width: 200px;
  margin-left: -135px;
  height: 100%;
  margin-top: 46px;
  position: fixed;
  z-index: 200;
  background-color: #585858;
  opacity: 0.9;
  text-align: left;
}

@media only screen and (max-width: 992px) {
    .dropdownContainer {
      width: 400px;
      margin-left: -335px;
      height: 100%;
      margin-top: 47px;
      position: fixed;
      z-index: 200;
      background-color: #585858;
      opacity: 0.9;
      text-align: left;
    }
}

.dropdownIcon {
  margin-top: 10%;
  width: 40px;
  height: 40px;
  /*margin-right: 98px;*/
  display: inline-block;
  /*position: relative;*/
  /*float: right;*/
  /*display: inline-block;*/
}

.dropdownIcon img {
  width: 100%;
  height: 100%;
  float: right;
  /*position: absolute;*/
}

.dropdownIconImage:hover {
  opacity: .4;
}

.dropItem {
  font-size: 25px;
  margin-top: 15px;
  text-indent: 20px;
  color: white;
}

@media only screen and (max-width: 992px) {
  .dropItem {
    text-indent: 20px;
    font-size: 38px;
    margin-top: 20px;
    color: white;
  }
}

.footerContainer {
  height: 75px;
  display: block;
}

.challengeFriendsForwardButton {
  position: relative;
  margin-left: 65%;
  width: 110px;
  background-color: none;
}

.forwardButton {
  position: relative;
  margin-left: 37%;
  width: 110px;
  background-color: none;
}

.glyphicon-check {
  font-size: 40px;
  color: #C31C85;
  vertical-align: middle;
}

.glyphicon-chevron-left {
  font-size: 24px;
  color: #999999;
  vertical-align: top;
}

.glyphicon-chevron-right {
  font-size: 24px;
  color: #999999;
  vertical-align: top;
}

.glyphicon-facetime-video {
  font-size: 40px;
  color: #f25d1e;
  vertical-align: middle;
}

.glyphicon-heart {
  font-size: 40px;
  color: #C31C85;
  vertical-align: middle;
}

/*.goToLogin {
  height: 40px;
  width: 35%;
  margin-left: 32.5%;
  margin-top: 8px;
  font-size: 22px;
  text-align: center;
  display: block;
}*/

.goToLoginChallenge {
  height: 40px;
  width: 35%;
  margin-left: 32.5%;
  margin-top: 8px;
  font-size: 22px;
  text-align: center;
  display: block;
}

.hContainer {
  width: 100%;
  min-height: 100%;
  display: block;
  padding: 0px;
}

.highlightContainer {
}

.highlightImage {
  width: 100%;
}

.highlightText {
  width: 80%;
  height: 0%;
  position: absolute;
  z-index: 10;
}

.highlightTextHolder {
  width: 100%;
  margin-left: 4%;
  text-align: left;
}

.highlightTextHolder h1{
  font-size: 52px;
  font-weight: bolder;
}

.highlightTextHolder p{
  font-size: 52px;
  font-weight: bolder;
}

.highlightTextHolder h4{
  font-size: 30px;
  font-weight: normal;
}

.hImage {
  /*background-color: green;*/
}

.hImage img {
  width: 100%;
}

.hMediaHolder {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  position: relative;
  margin-top: "-10px";
}

.homeRepeat {
  display: block;
  /*position: relative;*/
}

.hRemoveDescription {
  /*margin-top: 70px;*/
  width: 100%;
}

.hVideo {
  width: 100%;
  background-color: black;
}

.impactChallenged{
  font-size: 18px;
  font-weight: bold;
}

.impactCompleted {
  font-size: 18px;
  font-weight: bold;
}

.impactTitle {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.impactTotal {
  font-size: 20px;
  font-weight: bold;
}

.impactRaised {
  font-size: 18px;
  font-weight: bold;
}

.impactReached {
  font-size: 18px;
  font-weight: bold;
}

.infoBarContainer{
  /*height: 55px;*/
  width: 100%;
  display: block;
  background: url("../assets/orange.jpg");
}

.infoBarText {
  text-align: center;
  vertical-align: middle;
}

.infoBarText p{
  font-size: 25px;
  /*font-weight: bolder;*/
  /*line-height: 2;*/
  color: white;
  margin: 0;
}

.lContainer {
  width: 100%;
  min-height: 100%;
  display: block;
}

.lImage {
}

.lImageImg {
  width: 100%;
  /*height: 100%;*/
  position: relative;
}

.lImageCont {
  width: 100%;
  /*outline: 2px solid yellow;*/
}

.listContent {
  line-height: 0.8;
  margin: 0px;
  /*font-weight: bolder;*/
}

.listContainer {
  /*outline: 2px solid black;*/
  position: relative;
  padding: 0px;
}

.listSectionRemove {
  margin: 0;
  width: 100%;
}

.listText {
  width: 70%;
  max-height: 300px;
  position: absolute;
  z-index: 10;
}

.listTextHolder {
  width: 100%;
  margin-left: 10%;
  text-align: left;
}

.listTextHolder h1{
  font-size: 25px;
  font-weight: bolder;
}

.listTitle {
  line-height: 0.8;
  font-weight: bolder;
}

.lMediaHolder {
  margin-top: 5px;
  width: 98%;
  margin-left: 1%;
  min-height: 100%;
}

.logoContainer {
  height: 100%;
}

.logo img{
  margin-top: -10px;
  margin-left: -10px;
  height:46px;
  width:214px;
}

.logout {
  display: inline-block;
}

.lText {
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 10;
}

.lVideo {
  width: 100%;
  background-color: black;
}

.messageInd {
  outline: 2px solid brown;
}

.miniChallInfo {
  color: white;
  position: absolute;
  margin-top: -340px;
}

.miniChallOne {
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  /*outline: 3px solid gray;*/
}

.miniChallTwo {
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  /*outline: 3px solid gray;*/
}

.miniImageContainer {
  margin-top: 5px;
}

.miniImageHolder {
  height: 300px;
  outline: 2px solid blue;
}

.moneyBox {
  display: inline-block;
  float: right;
  margin: 320px 100px 0 0;
  font-size: 30px;
}

.myImpact {
  margin-top: 60px;
}

.navBar {
  height: 70px;
  margin: 0 0 0 0;
}

.navContainer {
  background-color: white;
  display: inline-block;
}

#nav-search {
  margin-top: 7px;
}

.okButton {
  height: 80px;
  width: 100%;
  bottom: 0;
  background-color: #F5F5F5;
  color: #C31C85;
  line-height: 2.8;
  text-align: center;
  font-size: 28px;
  border-radius: 0 0 15px 15px;
  border-top: 2px solid gray;
}

#paymentAmount {
  line-height: normal;
  height: 45px;
  width: 100%;
  font-size: 24px;
  display: block;
  /*text-align: center;*/
}

.paymentBackgroundImage img {
  width:100%;
  height:140%;
  z-index: 2;
  position: absolute;
}

.paymentBox {
  padding: 20px 30px 20px 30px;
  background-color: #E1E1E1;
  position: absolute;
}

.paymentBox h1{
  text-align: center;
  font-size: 40px;
  color: #999999;
}

.paymentButtDiv {
  display: table-cell;
  vertical-align: bottom;
  width: 552px;
  height: 60px;
}

.paymentCards img{
  height: auto;
  width: 500px;
}

.paymentCards p{
  font-size: 18px;
  margin-bottom: -8px;
}

.paymentContainer {
  margin-top: 50px;
  z-index: 10;
}

.paymentErrorPopup {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 2;
  background-color: blue;
}

.paymentOptions {
  font-size: 30px;
  line-height: 60px;
}

.paymentOptions option{

}

.paymentxBar {
  height: 25px;
  width: 25px;
  padding: 0 0 5px 5px;
  margin-left: 98%;
  margin-top: 0px;
  cursor: pointer;
}

.paymentquestionX {
  height: 100%;
  width: 100%;
}

.paymentSubButt {
  font-size: 20px;
  width: 90px;
  height: 45px;
  margin: 15px 0px 0px 0px;
}

.playButtonH {
  margin: 10px 0px 0px 63%;
}

.playButtonH img {
  height: 100%;
  opacity: .66;
}

.playButtonL {
  margin: 0px 0px 0px 55%;
}

.playButtonL img {
  height: 50px;
  opacity: .66;
}

.pwAttempt {
  margin-top: 40px;
  width: 30%;
  margin-left: 35%;
  height: 40px;
  font-size: 22px;
}

.pwChecker {
  margin-left: 35%;
  height: 40px;
  font-size: 22px;
}

.q1 {
  height: 100%;
  width: 100%;
  position: absolute;
}

.q2 {
  margin-left: 600px;
}

.qContent {
  height: 180px;
  display: block;
  position: relative;
}

.qDesc {
  opacity: 0.5;
  position: relative;
  margin-left: -400px;
}

.questionBackgroundImage {
  margin-top: -32px;
  width:100%;
  height:100%;
  z-index: 2;
  /*opacity: .8;*/
  position: absolute;
}

.questionBackgroundImage img{
  width:100%;
  height:100%;
  z-index: 2;
  position: absolute;
}

.questionButtons {
  color: #999999;
}

.questionContainer {
  display: block;
  height: 70%;
  /*overflow: visible;*/
  position: relative;
  margin-top: 20px;
}

.questionHolder {
  height: 480px;
  width: 550px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 50%;
  background-color: #E1E1E1;
}

.questions {
  /*display: inline-block;
  height: 250px;
  position: relative;*/
}

.questionTunnel {
  height: 90%;
  margin-top: 5%;
  width: 2200px;
  position: absolute;
}

.questions {

}

.questionX {
  width: 100%;
  height: 100%;
}

.repeatButton {
  width: 33%;
  display: inline-block;
}

.responseContainer {
  height: 400px;
  width: 90%;
  margin-left: 5%;
}

.responseDesc {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

.responseFootnote {
  width: 100%;
  margin-top: 30px;
  font-size: 12px;
  width: 60%;
  margin-left: 16%;
  padding-bottom: 20px;
}

.responseImage {
  max-height: 100%;
  max-width: 100%;
}

.responseLightbox {
  position: absolute;
  height: 170px;
  width: 35%;
  margin-left: 32.5%;
  margin-top: 170px;
  z-index: 200;
  border-radius: 15px 15px 0 0;
  background-color: #F5F5F5;
}

.responseLightbox p{
  color: grey;
  font-size: 23px;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  text-align: center;
  /*padding: 50px 0 50px 0;*/
}

.responseLightboxPaymentError {
  position: absolute;
  height: 220px;
  width: 50%;
  margin-left: 25%;
  margin-top: 170px;
  z-index: 200;
  border-radius: 15px 15px 0 0;
  background-color: #F5F5F5;
}

.responseLightboxPaymentSuccess {
  position: absolute;
  height: 220px;
  width: 50%;
  margin-left: 25%;
  margin-top: -270px;
  z-index: 200;
  border-radius: 15px 15px 0 0;
  background-color: #F5F5F5;
}

.responseLightboxText{
  color: grey;
  font-size: 23px;
  font-weight: bold;
  width: 80%;
  height: 150px;
  margin-left: 10%;
  margin-top: 30px;
  text-align: center;

}

.responseLightText {
  padding-bottom: 30px;
}

@media only screen and (max-width: 650px) {
    .responseLightbox p{
      font-size: 16px;
    }
}

.responseName {
  margin-top: 20%;
}

.responseTitle {
  margin-top: 45px;
  height: 45px;
  text-align: center;
  width: 100%;
  color: gray;
  font-size: 18px;
}

.responseVideoTitle {
  padding: 0px 0px 0px 10px;
  color: #999999;
}

#showResponseBox {
  height: 130px;
  outline: 2px solid gray;
  margin-top: 0px;
}

#showResponseInfo1 {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

#showResponsePhoto {
  height: 100%;
  width: 120px;
  display: inline-block;
  margin-left: 20px;
}

#showResponsePhoto img{
  width: 100%;
  position: relative;
  margin: -40px 0 0 0;
}

.signIn {
  width: 90px;
  text-align: center;
  float: right;
  height: 60px;
  margin-top: 8px;
}

.signinBackgroundImage img {
  width:100%;
  height:100%;
  z-index: 2;
  position: absolute;
}

.signinBox {
  padding: 20px 20px 20px 20px;
  background-color: #E1E1E1;
  position: absolute;
}

.signinBox h1{
  text-align: center;
  font-size: 46px;
  color: #999999
}

.signinContainer {
  margin-top: 50px;
  z-index: 10;
}

.signinForm {
  margin: 30px 0px 30px 0px;
  height: 100%;
}

.signinForm p {
  text-align: center;
  font-size: 15px;
  margin: 15px 0px -15px 0px;
}

.signinForm input{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}

.signinHolder {
  display: inline-block;
  text-align: right;
}

.signupBackgroundImage img {
  width:100%;
  height:100%;
  z-index: 2;
  position: absolute;
}

.signupBox {
  padding: 20px 20px 50px 20px;
  background-color: #E1E1E1;
  position: absolute;
}

.signupBox h1{
  text-align: center;
  font-size: 46px;
  color: #999999;
}

/*.signupBoxInput {
  display: block;
  height: 35px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  font-size: 22px;
  text-align: center;
}*/

.signupContainer {
  margin-top: 50px;
  z-index: 10;
}

.signupForm p {
  text-align: center;
  font-size: 15px;
  margin: 15px 0px -15px 0px;
}

.signupForm input{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}

.singleuserContainer {
  margin-top: 3px;
  height: 100%;
}

.smallChallengeHolder {
  min-height: 100%;
  /*outline: 2px solid blue;*/
  display: inline-block;
}

.specialGoal {
  font-size: 30px;
}


.specialMoneyBox p{
  font-size: 25px;
}

.specialRaised {
  font-size: 35px;
  font-weight: bolder

}

.submitDon {
  font-size: 20px;
}

/*.submitNew {
  height: 40px;
  width: 35%;
  margin-left: 32.5%;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 22px;
  text-align: center;
}*/

.submitPayment{
  display: block;
}

.successPopup {
  height: 170px;
  background-color: blue;
  z-index: 2;
  position: absolute;
}

 table tr td{
   padding:3px !important;
   border-top: none !important;
}

.testList {
  list-style-type: none;
  background-color: #e0efef;
  min-height: 100%;
  margin: 0 0 0 20%;
  margin: 15px 0px 0px 0px;
  border-radius: 2px;
  border-color: black;
  border-width: 0px;
  box-shadow: 2px 2px 4px #000000;
}

.testTitle {
  font-size: 25px;
  margin: 5px 5px 5px 5px;
}

.testCharity {
  font-size: 15px;
}

.testResponseForm {
  display: block;
  margin-top: 200px;
}

.testRepeat {
  background-color: blue;
  height: 200px;
}

.texttext {
  text-align: center;
  /*outline: 4px solid white;*/
	color: white;
  height: 90%;
  margin-top: 5%;
  position: relative;
}

.titleCont {
  margin: 0px;
  padding: 0px;
}

.titleContCharity {
  line-height: 0.8;
}

.titleContTitle {
  line-height: 0.8;
}

.titleDescBox {
  position: relative;
  text-align: center;
}

.titleDescBox h1, h2, h3, h4 {
  color: #999999;
  margin: 0px;
}

.titleDescBox h1 {
  font-weight: 300;
}

.titleDescBoxUrl{
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.titleFrs {
  color: #F25D1E
}

.topChallenges {
  background-color: #f1f1f1;
  min-height: 327px;
  height: 100%;
}

.topFunders {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.topFundraisers {
  margin-top: 32px;
}

.topList {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.topRowChallenge {
  background-color: #f1f1f1;
}

.userChallenges {
  background-color: #d4d4d4;
  min-height: 327px;
  height: 100%;
}

.userInfo {
  background-color: #b6b6b6;
  height: 100%;
}

.userInfoData {

}

#useremail {
  font-size: 33px;
  width: 90%;
  text-align: center;
  z-index: 2;
}

#useremailEdit {
  font-size: 33px;
  width: 90%;
  text-align: center;
  z-index: 2;
}

#username {
  font-size: 33px;
  width: 90%;
  text-align: center;
  z-index: 2;
}


#usernameEdit {
  font-size: 33px;
  width: 90%;
  text-align: center;
  z-index: 2;
}


#userpassword {
  font-size: 33px;
  width: 90%;
  text-align: center;
  z-index: 2;
}

#userpasswordEdit {
  font-size: 25px;
  width: 90%;
  text-align: center;
  z-index: 2;
}

#userpasswordConfirmEdit {
  font-size: 25px;
  width: 90%;
  margin-top: 10px;
  text-align: center;
  z-index: 2;
}

.userNameSignedIn {
  display: inline-block;
}

.userNameSignedIn p{
  margin-bottom: 0px;
  font-size: 14px;
}

#usertotraised {
  font-size: 18px;
  vertical-align: middle;
}

#usertotraisedval {
  font-size: 26px;
  font-weight: bolder;
  text-align: right;
}

#userchalcomp {
  font-size: 13px;
  vertical-align: middle;
}

#userchalcompval {
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
}

#userpeopchal {
  font-size: 13px;
  vertical-align: middle;
}

#userpeopchalval {
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
}

#userpeopreach {
  font-size: 13px;
  vertical-align: middle;
}

#userpeopreachval {
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
}

#usermychal {
  font-size: 22px;
}

#usertopchal {
  font-size: 22px;
}

#usertopfund {
  font-size: 22px;
}

#usermychalcurr {
  font-size: 18px;
  font-weight: bold;
}

#usermychalcomp {
  font-size: 18px;
  font-weight: bold;
}

.usermychalval {
  font-size: 11px;
}

.videoLink {
  margin-left: 400px;
  opacity: 0.5;
}

.xBar {
  height: 25px;
  width: 25px;
  padding: 0 0 3px 3px;
  margin-left: 95%;
  margin-top: 10px;
  cursor: pointer;
}

/*End classes*/

/*Begin ids*/
/*End ids*/
