
/*Begin pure elements*/
/*End pure elements*/

/*Begin classes*/

.bodyView {
  width: 95%;
  min-width: 100%;
  margin-left: 2.5%
}

.acceptButton {
  background-color: white;
  color: gray;
  width: 200px;
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 0 2px;
  font-weight: bolder;
}
.acceptButton:hover {
  background-color: purple;
  opacity: .90;
}

.acceptedVideos {
  font-size: 18px;
}

.addUrl {
  height: 40px;
  width: 80%;
  margin: 50px 0 0 10%;
  font-size: 25px;
}

.backButton {
  height: 40px;
  width: 90px;
  font-size: 25px;
  font-style: bolder;
  color: gray;
}

.backButton:hover {
  background-color: #B8E6E6;
}

.bodyView {
  display: block;
  height: 100%;
  margin-top: -15px;
}

.bottomRowChallenges {
  margin-top: 15px;
}

.carouselButtonHolder {
  margin: 30px 0 0 70px;
  display: block;
}

.challengeBy {
  margin-top: -68px;
  text-align: center;
  width: 100%;
  color: gray;
}

.challengeCharity {
  font-size: 55px;
  font-style: bolder;
  width: 360px;
}

.challengedDesc {
  width: 350px;
  font-size: 18px;
  font-style: bolder;
  margin: 0;
  margin-top: 30px;
}

.challengedTitle {
  font-size: 35px;
  margin-top: -10px;
}

.challengeHolder {
  height: 320px;
  color: white;
  background-size:  100% 320px;
  background-repeat: no-repeat;
  margin: 20px 0 40px 0;
}

.challengeInfo {
  display: inline-block;
  margin: 60px 0 0 5%;
}

.challengePhoto {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.currentChallengeContainer {
  /*outline: 2px solid green;*/
}

.currentChallengeHolder{
  display: inline-block;
  /*outline: 2px solid blue;*/
  min-height: 100%;
}

.currentChallengeImage {
  width: 100%;
}

.currentChallengeImage img{
  max-height: 100%;
  max-width: 100%;
}

.currentChallengeInfo {
  color: white;
  position: absolute;
  margin-top: -350px;
  width: 94%;
  margin-left: 3%;
}

.currentChallengeMoney {
  color: white;
  text-align: center;
  margin-top: 150px
}

.currentChallengeStats {
  display: inline-block;
  background-color: #E6E6E6;
  min-height: 100%;
  padding-bottom: 51px;
}

.currentCharity {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: -5px;
}

.currentDescription {
  font-size: 20px;

}

.currentTitle {
  font-size: 32px;
  font-weight: bolder;
  height: 50px;
  display: inline-block;
}

.currentVideo{
  min-height: 100%;
  min-width: 100%;
}

.detailsButton {
  font-size: 25px;
  font-style: italic;
  display: block;
  width: 100px;
  margin-top: -10px;
}

.detailsButton:hover {
  background-color: purple;
  opacity: .8;
}

.dropdownBarContainer {
  height: 100%;
  outline: 2px solid purple;
}

.dropdownContainer {
  width: 163px;
  height: 100%;
  margin-top: 40px;
  outline: 2px solid blue;
  position: fixed;
  z-index: 200;
  background-color: #33647D;
  opacity: 0.85;
}

.dropdownIcon {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 20px;
  float: right;
  margin-right: 110px;
  display: inline-block;
}

.dropdownIcon img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.dropdownIconImage:hover {
  opacity: .4;
}

.dropItem {
  font-size: 20px;
  margin-top: 5px;
  border-bottom: 3px dotted gray;
  color: white;
}

.footerContainer {
  height: 75px;
  background-color: green;
  display: block;
}

.forwardButton {
  height: 40px;
  width: 90px;
  font-size: 25px;
  font-style: bolder;
  color: gray;
}

.forwardButton:hover {
  background-color: #B8E6E6;
}

.highlightContainer {

}

.highlightImage {
  width: 100%;
}

.highlightText {
  outline: 2px solid green;
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 10;
}

.hContainer {
  width: 100%;
  min-height: 100%;
  display: block;
}

.hImage {
  background-color: green;
}

.hImage img {
  width: 100%;
}

.hMediaHolder {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
  min-height: 100%;
  outline: 2px solid green;
}

.hVideo {
  width: 100%;
  background-color: blue;
}

.impactChallenged{
  font-size: 18px;
  font-weight: bold;
}

.impactCompleted {
  font-size: 18px;
  font-weight: bold;
}

.impactTitle {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.impactTotal {
  font-size: 20px;
  font-weight: bold;
}

.impactRaised {
  font-size: 18px;
  font-weight: bold;
}

.impactReached {
  font-size: 18px;
  font-weight: bold;
}

.listContainer {
  display: block;
}

.listText {
  outline: 2px solid green;
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 10;
}

.logoContainer {

}

.logo {
  height: 150px;
  vertical-align: bottom;
  margin-top: -20px;
}

.logout {
  display: inline-block;
}

.miniChallInfo {
  color: white;
  position: absolute;
  margin-top: -340px;
}

.miniChallOne {
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  /*outline: 3px solid gray;*/
}

.miniChallTwo {
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  /*outline: 3px solid gray;*/
}

.miniImageContainer {
  margin-top: 5px;
}

.moneyBox {
  display: inline-block;
  float: right;
  margin: 320px 100px 0 0;
  font-size: 30px;
}

.myImpact {
  margin-top: 60px;
}

.navBar {
  height: 100%;
  margin: 0 0 0 0;
}

.navContainer {
  height: 85px;
  border-bottom: 3px solid gray;
  display: block;
}

.q1 {
  height: 100%;
  width: 100%;
  position: absolute;
}

.q2 {
  margin-left: 600px;
}

.qContent {
  height: 180px;
  display: block;
  position: relative;
}

.qDesc {
  opacity: 0.5;
  position: relative;
  margin-left: -400px;
}

.questionContainer {
  display: block;
  height: 70%;
  /*overflow: visible;*/
  position: relative;
}

.questionHolder {
  /*outline: 5px solid green;*/
  height: 480px;
  width: 550px;
  overflow: hidden;
  margin-top: 30px;
}

.questionTunnel {
  height: 90%;
  margin-top: 5%;
  width: 2200px;
  position: absolute;
}


.questions {
  display: inline-block;
  height: 250px;
  position: relative;
}

.responseContainer {
  height: 400px;
}

.responseDesc {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

.responseImage {
  max-height: 100%;
  max-width: 100%;
}

.responseTitle {
  text-align: center;
  height: 35px;
  margin-top: 40px;
  width: 100%;
  font-size: 22px;
  color: gray;
}

.signinHolder {
  display: inline-block;
}

.signinForm {
  outline: 4px solid gray;
  margin-top: 10%;
  height: 300px;
}

.signinForm input{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  height: 40px;
  font-size: 25px;
  color: #52798E;
  text-align: center;
}

.signupForm input{
  width: 100%;
  height: 35px;
  font-style: 30px;
  font-size: 20px;
  color: gray;
  margin-top: 15px;
}

.signupForm button {
  margin-top: 10px;
}

.singleuserContainer {
  margin-top: 15px;
  height: 300px;
  background-color: red;
}

.smallChallengeHolder {
  min-height: 100%;
  /*outline: 2px solid blue;*/
  display: inline-block;
}

.testResponseForm {
  display: block;
  margin-top: 200px;
}

.texttext {
  text-align: center;
  /*outline: 4px solid white;*/
	color: white;
  height: 90%;
  margin-top: 5%;
}

.titleDescBox {
  position: relative;
  text-align: center;
}

.topChallenges {
  background-color: #D8D8D8;
}

.topFunders {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.topFundraisers {
  margin-top: 32px;
}

.topList {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.topRowChallenge {
  background-color: #E6E6E6;
}

.userChallenges {
  background-color: #B8B8B8;
}

.userInfo {
  background-color: #888888;
}

.videoLink {
  margin-left: 400px;
  opacity: 0.5;
}

.videoUrl {
  height: 50px;
  width: 70%;
  margin-top: 60px;
  margin-left: 15%;
  font-size: 25px;
  text-align: center;
  font-style: bold;
  color: gray
}


/* Greg made these end three for
text on challenges page */
.challengeCharityText {
	  text-align: left;
    font-size: 20px;
}

.challengeDonationext {
	  text-align: left;
    font-size: 15px;
}

.challengeAccept {
	  text-align: left;
    margin-bottom: 0px;
    background-color: darkgray;
    width: 50px;
    padding: .5px;
}

.challengeDeats {
	  text-align: left;
    margin-bottom: 0px;
}

/*End classes*/

/*Begin ids*/
/*End ids*/
